# Server Configuration
PORT=3000
NODE_ENV=development

# Database - PostgreSQL
DATABASE_URL=postgresql://database_database_tuwc_user:IStovI2jC8e3dbBYobyjHvmblRTB6zv7@dpg-d61477onputs73adknbg-a.oregon-postgres.render.com:5432/database_database_tuwc?sslmode=require


# JWT Configuration
JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRE=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
